<style>
  .margin-sec .box-content {
    padding: 20px !important;
  }
  .wrapper {
      margin-top: 50px;
      width: 100%;
      margin-bottom: 0px;
  }
  .box-content input.btn {
      margin-top: 0px!important; 
  }
</style>
<center><h2>Edit <%= resource_name.to_s.humanize %></h2></center>
<div class="row">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-md-offset-4 login-sec margin-sec full-width-sec edit-chef">
    <div class="col-md-6  well box-content">
      <div class="field">
         <%= f.fields_for :team do |team_form| %>
          <%= team_form.label "Business Name", autofocus: true, autocomplete: "Business name" %>
          <%= team_form.text_field :name %>
         <% end %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>
      <div class="actions"> 
        <%= f.submit "Update", class: "btn btn-success btn-lg" %>
        <%= link_to "Back", :back, {:class => "btn btn-link", :style => "margin-left: 10px;"} %>
      </div>
    </div>
  </div>
  <% end %>
<div>