
<div class="margin-sec top-space" style="margin-top: 50px;">
   <div class="col-md-12 margin-sec top-space recipe-detail">
   <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 detail-sec">
    <div class="box-inner-sec well box-content">
    <div class="detail-list">
    

    <div class="row">
      <div class="col-md-8">
        <center>
          <h2>
            <%= link_to @task.task_name, task_path(@task) %>
          </h2>
        </center>
      </div>
      <div class="col-md-3">
        <% if (current_user and (@task.created_by == current_user.id) || current_user.admin?) %>
          <%= link_to t('recipes.delete_task'), @task, class: "btn btn-danger pull-right  btn-lg", style:"margin-right:100px;",  method: :delete, data: { confirm: t('common.confirm') } %>
        <% end %>

        
        <% if (current_user and (@task.created_by == current_user.id)|| current_user.admin? ) %>
          <%= link_to t('recipes.edit_task'), edit_task_path(@task), class: "btn btn-success pull-right btn-lg" %>
        <% end %>
      </div>
  </div>

    <div class="well-sec">
      <p>
        <strong><%= t 'tasks.task_description' %></strong>
      </p>
      <div style="font-family: Garamond; font-size:18px;">
        <%= simple_format(@task.description) %>
      </div>
    </div>
    </div>
    </div>
    </div>
    

    </div>
    </div>
</div>


  <br>


  <center>
    <h5>
      <%= link_to t('recipes.return_to_tasks_listing'), tasks_path, class: 'btn btn-primary btn-lg', style: "color:white !important" %>
    </h5>
  </center>
  
