

  <style>
  table.table {
      width: 98%;
      max-width: 100%;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
  }
  table.table ul li {
        list-style: none;
  }
  table.table ul {padding-left: 0px;}
  .search-sec {
      float: right;
      margin: 0 0 20px 0;
      padding: 0;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
  }
  .search-sec input[type="text"] {
        height: 36px!important;
      padding: 0 12px;
      line-height: 36px;
      border: 1px solid #d2d2d2;
  }
  .search-sec input[type="submit"] {    width: 100px!important;
      height: 36px!important;
          padding: 0 12px;
      line-height: 36px;
      text-align: center;}
  .search-sec a.clear {     width: auto;
      height: 36px;
      line-height: 36px;
      text-align: center;
      padding: 0 15px}
  .search-sec input[type="text"]:focus {outline: none; border-color: green;}
  .pagination-bottom ul.pagination {margin-bottom: 70px;}
  .content-header table.table thead tr th {min-width: 120px;}
  .search-sec:hover {box-shadow: none!important;}
  .content-header table.table {margin-bottom: 80px;}
  .row {margin-left: 0px; margin-right: 0px;}
  .table-responsive {
      overflow-x: auto;
      min-height: 0.01%;
      width: 100%;
  }


  </style>
  <div class="content-header">
    <div class="login-header">
      <h1><%= t 'team_members.team_members_list' %></h1>
      <hr>
    </div>

   
      <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <form method="GET" action="">
              <div class="row" style="padding: 10px;">
                <div class="col-md-7">
                  <input class="form-control" type="text" name="keyword" placeholder="<%= t 'guests.search_guest' %>" value="<%= @keyword %>">
                </div>
                
                <div class="col-md-2">
                  <input type="submit" name="submit" value="GO" class="btn btn-success btn-lg" style="width: 70%;">
                  
                </div>
                <div class="col-md-3">
                  <a href="<%= email_list_path(current_user.team_id) %>" class="btn btn-info btn-lg"><%= t 'guests.clear_search' %></a>
                </div>
              </div>
            </form>
          </div>
      </div>
  
  </div>

   <!--  <div class="col-md-12 margin-sec">
      <div class="row">
        <div class=" col-md-12 pagination-tab">
          <%= will_paginate @guests %>
        </div>
      </div>
    </div> -->

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>
          <button type="button" class="btn btn-primary sendEmails"><%= t 'forms.send_emails' %></button>
          <button type="button" class="btn btn-primary sendEmails" id="sendAll"><%= t 'forms.send_all_emails' %></button>
        </th>
        <th><%= t 'forms.s_no' %></th>
        <th><%= t 'forms.full_name' %></th>
        <th><%= t 'forms.email' %></th>
        <th><%= t 'forms.role' %>
        <th><%= t 'forms.action' %></th>
      </tr>
    </thead>
    <tbody>
    <% i=1 %>
    <% @team_members.each do |member| %>

      <tr>
        <td><%= check_box('guest', 'check', { class: 'guestCheck', data: { email: member.email } }) %></td>
        <td> <a href="<%= email_list_path(current_user.team_id) %>"><%= i %></a></td>
        <td> <%= !member.full_name.nil? ? member.full_name.capitalize : '' %></td>
        <td> <a href="javascript:void(0)" onclick="sendEmail('<%= member.email %>')"><%= member.email %></a></td>
        <td> <%= member.role %></td>
        <td>
          <%= link_to t('team_member.delete_member'),  team_team_member_path(member.team, member.id), data: { confirm: t('team_member.confirm_delete_account') } %>
        </td>
      </tr>

      <% i= i+1 %>
    <% end %>

    <% if @team_members.blank? %>
      <tr>
        <td colspan="8" style="color:red;text-align:center">
          <%= t 'guests.guest_not_found' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>

  <div class="col-md-12 margin-sec pagination">
    <div class="row">
      <div class=" col-md-12 pagination-tab">
        <%= will_paginate @team_members %>
      </div>
    </div>
  </div>

</div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog" style="margin-top:20px;">
    <div class="modal-dialog" style="margin-top:150px;">
      <%= form_tag('/sendUserEmailContent', method: :post, remote: true, multipart: true, id: "frmSendEmail") do |f| %> 

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t 'guests.send_email' %></h4>
        </div>
        <div class="modal-body">
           <div class="form-group">
             <div class="control-label col-md-12"><%= label_tag t 'forms.subject' %></div>
             
             <div class="col-md-12">
               <%= text_field_tag :subject, '',class: "form-control" %>
             </div>
           </div>

           <div class="form-group">
             <div class="control-label col-md-12"><%= label_tag t 'guests.email_content' %></div>
             
             <div class="col-md-12">
               <%= cktext_area :email_content, :content,  {class: "form-control", placeholder: ""}%>
             </div>
           </div>

           
           <%= hidden_field_tag :receivers, '' %>
           <%= hidden_field_tag :send_all, '' %>
           <span id="error_span" style="display:none;color:red;"></span>
           <span id="suc_span" style="display:none;color:green;"><%= t 'guests.email_sent_success' %></span>
           <div class="form-group">
             <div class="control-label col-md-8"><%= label_tag :attachments %></div>
             
             <div class="control-label col-md-8">
               <%= file_field_tag "attachments[]", type: :file, multiple: true, accept: 'image/jpeg,image/gif,image/png,.pdf,.docx,.doc,.txt' %>
             </div>
           </div>
           
        </div>
        <div class="modal-footer">
          <button type="submit"  class="btn btn-primary" ><%= t 'guests.send_email' %></button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'forms.close' %></button>
        </div>
        <% end %>
      </div>

    </div>
  </div>

  <script>
  $(document).ready(function() {
    $('#frmSendEmail').on('ajax:success', function(e, data, status, xhr){
       $("input[type=checkbox]").prop('checked',false);
       $('#myModal').modal('hide');
     }).on('ajax:error',function(e, xhr, status, error){
        $("input[type=checkbox]").prop('checked',false);
        $('#myModal').modal('hide');
        console.log(error);
      });
  });
  $('.sendEmails').on('click', function() {
    console.log("Test");
    var emails = $("input[type=checkbox]:checked").map(function () {
        return $(this).data('email');
    }).get();
    if (emails.length > 0) {
        sendEmail(emails);
    } else {
        $('#error_span').text('');
        $('#error_span').text('<%= t 'no_selected_guests' %>');
        $('#error_span').show();
    }
  });

  
  $('#sendAll').on('click', function() {
    $('#send_all').val(1);
    $("input[type=checkbox]").prop('checked',true);
    var  emails = $("input[type=checkbox]:checked").map(function () {
        return $(this).data('email');
    }).get();
    sendEmail(emails);
  });

  function sendEmail(email) {
    $('#email_content').val('');
    $('#receivers').val('');
    $('#receivers').val(email);
    $('#error_span').text('');
    $('#myModal').modal('show');

  }

  function sendEmailContent() {
    var content = $("#email_content").val();
    var email = $("#sender_email_hdn").val();
    $('#error_span').text('');
     $('#error_span').hide();

     $("#send_btn").attr("disabled", true);
     $("#send_btn").attr("text", "Loading..");
    if(content) {
       $.ajax({
        type: "POST",
        url: "<%= @root_url%>/sendUserEmailContent",
        data: {"content": content, "email": email},
        contentType: "application/json",
        dataType: "json",
        cache: false,
        success: function(data){
          //console.log(data);
          $("#email_content").val('');
            $("#suc_span").show();
            setInterval(function() {
                $('#myModal').modal('hide');
                location.reload();
            }, 2000);
           //$("#resultarea").text(data);
        }
      });
    } else {
      $("#send_btn").attr("disabled", false);
      $("#send_btn").attr("text", "Send Email");
      $('#error_span').text('');
      $('#error_span').text('<%= t 'errors.email_content_blank' %>');
      $('#error_span').show();
    }


  }


  </script>


