<%= form_for(@page, html: { multipart: true }) do |f| %>
    <%= f.hidden_field :destination %>
      <div class=" col-md-offset-4 margin-sec full-width-sec edit-chef new-cheif">
        <div class="col-md-5 well box-content" >
          <% if @page.present? && @page.destination == 'welcome' %>
          <label><%= t('pages.new.edit_page_text') %></label>
          <% else %>
          <label>Write your introduction</label>
          <% end %>

          <% if @page.destination == 'welcome' %>
            <%= cktext_area :page, :content, value: (@page.present? && !@page.content.nil?) ? @page.content :  ['Welcome', current_user.full_name, 'ToDo app'].join('<br/>'),  cols: 100, rows: 20, class: 'form-control', required: true  %>
          <% else %>
         
              <label><%= t('pages.new.edit_business_short_intro') %></label>

              <%= cktext_area(:page, :content, value: (@page.present? && !@page.content.nil?) ? @page.content : 'iTopRecipes!', cols: 100, rows: 20, class: 'form-control', required: true) %>
           
              <span style="color:red;display:none;" id="span_err_2"><%= t('pages.new.you_can_not_write_more_chars', max: 30) %></span><br>
          <% end %>
        </div>
        
        <div class="col-md-5  well box-content">
          <span class="picture">
            <%= image_tag( (!@page.nil? && @page.page_image.url.present?) ? @page.page_image.url : 'cooking-new.png', class: 'img-responsive', alt: t('common.no_image'), style: 'width: 20% !important') %>
            <label><%= t('pages.new.upload_landing_pic_max_size', max: 5) %></label>
            <%= f.file_field :page_image, accept: 'image/jpeg,image/gif,image/png' %>
          </span>
          <div class="row" style="margin-top:50px;">
            <center>
              <%= f.submit t('pages.new.tap_or_click_to_save'), class: "btn btn-success btn-lg", id: "submit_btn", style:"float:left; margin-right:5px; margin-top: 20px;" %>
              <a target="_blank" href="<%= welcome_pages_path(:username=> current_user.full_name,:admin_id => current_user.id) %>" style="float: left; color:white; margin-top:20px;" class="btn btn-success btn-lg">
                <%= t('pages.new.save_to_view_changes') %>
              </a>
            </center>
            
          </div>
          

          <div class="">
           
          </div>
        </div>
     </div> 
  <% end %>


  <script type="text/javascript">
    

    $(document).ready(function() {
         var _URL = window.URL || window.webkitURL;

          $("#page_welcomepic").change(function (e) {

             //alert('yes');
              size_in_megabytes = this.files[0].size/2048/2048;
              //alert(size_in_megabytes);
              if (size_in_megabytes > 1) {
                alert('<%= t('errors.max_file_size', max: 5) %>')
                $("#submit_btn").attr("type", "button");
                return false;
              }

              var file, img;
              if ((file = this.files[0])) {
                  img = new Image();
                  img.onload = function () {

                      if(this.width < 500 && this.height < 600) {
                        //alert(this.width + " " + this.height);
                        alert('<%= t('errors.image_atleas_dimensions', dims: '500*600') %>');
                        $("#submit_btn").attr("type", "button");
                        return false;
                      }
                  };
                  img.src = _URL.createObjectURL(file);

              }

             $("#submit_btn").attr("type", "submit");

          });

          var max = 40;
          $('#page_pages_text').change(function(e) {
              //console.log('in');
              if (e.which < 0x20) {
                  // e.which < 0x20, then it's not a printable character
                  // e.which === 0 - Not a character
                  return;     // Do nothing
              }
              if (this.value.length == max) {
                 $("#span_err_1").show().delay(3000).fadeOut();;
                  e.preventDefault();
              } else if (this.value.length > max) {
                  // Maximum exceeded

                  this.value = this.value.substring(0, max);
                  $("#span_err_1").show().delay(3000).fadeOut();;
              }
          });

          var max_name = 30;
          $('#page_pages_name').change(function(e) {
              //console.log('in');
              if (e.which < 0x20) {
                  // e.which < 0x20, then it's not a printable character
                  // e.which === 0 - Not a character
                  return;     // Do nothing
              }
              if (this.value.length == max_name) {
                 $("#span_err_2").show().delay(3000).fadeOut();;
                  e.preventDefault();
              } else if (this.value.length > max_name) {
                  // Maximum exceeded

                  this.value = this.value.substring(0, max_name);
                  $("#span_err_2").show().delay(3000).fadeOut();;
              }
          });




        //jquery editor setting
        //$(".classy-editor").ClassyEdit();
        //$(".classy-editor2").ClassyEdit();

    });


    </script>