
<style>
  .footer3 {
    width: 100%;
    float: left;
    background-color: #344a64!important;
    padding: 12px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 99;
    margin: 0 0 0 0;
  }

  .custom-image-one {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .footer3 p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
  }
  #message {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;
  }
  .show-read-more {
      font-size: 20px;
  }
  .show-read-more h1, h2, h3, h4, h5, h6 {
      font-size: 20px !important;
  }
  .page-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  @media (max-width: 480px) {
    .col-md-12 {
        width: 100%;
    }
  }
  
</style>
<script>
  function newDoc(a) {
      window.location.assign(a);
  }

  $(document).ready(function(){

    $("#btn_more").click(function(){
      $('#read_less').hide();
      $('#read_full').show();
    });

    $("#btn_less").click(function(){
      $('#read_full').hide();
      $('#read_less').show();
    });

  });

</script>

<div class="about-main">
  <div class="row">
    <div class="custom-image-one">
        <% if @page.present? %>
          <%= image_tag( (!@page.page_image_file_name.nil?) ? @page.page_image.url(:thumb) : 'cooking-new.png', class: 'img-responsive', alt: t('common.no_image')) %>
        <% else %>
          <%= image_tag('cooking-new.png', class: 'img-responsive', alt: t('common.no_image')) %>
         <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 10%;">
  <div class="col-md-12 custom-second-sec">
    <div id="message">
        <% if @page.present? %>

            <% upper_page_detail = @page.title.html_safe %>

            <% if upper_page_detail.size > 280 %>
              <div class="show-read-more" id="read_less"><%= raw upper_page_detail.slice(0,280)+'...' %>
                &nbsp;
                <a href="javascript:void(0)" id="btn_more">(<%= t('common.read_more_1_min') %>)</a>
              </div>
              <div class="show-read-more" style="display:none;" id="read_full">
                <%= raw upper_page_detail %>
                &nbsp;
                <a id="btn_less" href="javascript:void(0)" >(<%= t('common.read_less') %>)</a>
              </div>
            <% else %>
              <p class="show-read-more"><%= raw upper_page_detail %></p>
            <% end %>

        <% else %>
          <p>
            <%= t('pages.index.be_inspired_to_play') %>
            <br/>
            <%= t('pages.index.craft_your_shareable') %>
            <br/>
            <%= t('pages.index.be_my_guest_use_my_recipes') %>
            <span class="read-more"  data-toggle="collapse" data-target="#demo">
              <a href="#2min" data-toggle="collapse">(<%= t('common.read_more_1_min') %>)</a>
            </span>
          </p>
          <div id="demo" class="collapse content-sec">
            <p>
              <%= t('pages.index.you_can_start_creating') %>
            </p>
            <p>
              <%= t('pages.index.one_pot_and_one_skillet') %>
            </p>
            <br>
            <p>
              <%= t('pages.index.i_have_been_in_foods') %>
            </p>
            <p>
              <%= t('pages.index.in_the_early_nineties') %>
            </p>
            <p>
              <%= t('pages.index.cooking_is_action') %>
              </br>
              <%= t('pages.index.bruno') %>
            </p> 
          </div>
        <% end %>
    </div>
  </div>
  </div>

  <div class="row" >
    <div class="col-md-12 text-center custom-second-sec">
    <%# <div id="move-right">
      
      <%# </div> %>
        <div class="row page-title">
          <div class="col-md-12 text-center">
            <% if @page.present? %>
              <%= raw @page.content.html_safe %>
            <% else %>
              <p id="lgp">
                <center><p style="font-size:18px;"><%= t('pages.index.to_use_and_receive_new_recipes') %></p></center>
                <center>*<%= t('pages.index.we_never_share_contact_info') %><br></center>
                <center>** <%= t('pages.index.we_do_no_place_banners') %></center>
                <center><%= t('pages.index.or_ads_of_any_kind') %><br></center>
              </p>
             <% end %>
          </div>
        </div>
      <%# <div id="btn"> %>
      <div class="row">
        <div class="col-md-12 text-center" style="width: 100%;">
          <button class="btn btn-success btn-lg" onclick='newDoc("<%= new_user_session_path+'?is_guest=yes' %>")'><%= link_to t('navigation.login'), new_user_session_path(is_guest: :yes), {:style=>'color: #fff; position:center;', :id => "btn"} %></button>
        </div>
      </div>
      <%# </div> %>
     

    <%# </div> %>
    </div>
  </div>

<div class="footer3">
  <p>Powered by <a href="https://itoprecipes.com/" style="color: #fff;" target="_blank">iTopRecipes.com</a> &copy; 2017 – <%= Time.zone.now.year %></p>
</div>
</div>
