<!DOCTYPE html>
<html>
  <head>
    <title>TODO app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/png" href="/iTR-favicon 516x2.jpg"/>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

  </head>

  <body>
    <div id="wrapper">

      <div class="header"> 
        <!-- <img src="https://via.placeholder.com/800x137"> -->
        <%= render 'layouts/navigation' %>
      </div> 
      
      <%= render 'layouts/messages' %>
      <div class="content">
        <%= yield %>
      </div>
      

    
    <%= render 'layouts/footer' %>

    </div>

   
    
  </body>
</html>
